<div class="row">
    <div class="col-md-12">
        <form [formGroup]="addForm" (submit)="onSubmit()">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder=""
                    formControlName="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    class="form-control"
                    id="description"
                    rows="3"
                    formControlName="description"></textarea>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>